.mySkillsWrapper {
    text-align: center;
    background: aqua;
    min-height: 100vh;
}
.mySkillsContainer {
    display: inline-block;
}
.wrapperForBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:8rem;
}
.wrapperForBlockContainer {
    flex: 0 1 24%;
    justify-content: center;
}
.blockContainerSkills {
    display: flex;
    flex: 0 1 30%;
    width: 20%;
    text-align: center;
    padding: 0 25px 10px;
    margin-bottom: 30px;
}
.blockContainerElementSkills {
    border: 3px solid black;
    background-color: yellow;
    transition: 1s;
}
.blockContainerElementSkills:hover {
    transform:  scale(1.1);
    transition: 1s;
}
.imageContainerSkills {
    width: 35%;
    margin: 0.5rem auto;
    height: 55px;
}
.titleBlockSkills {
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    color: #000;
    margin: 2rem 0;
}
.textBlockSkills {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0 3rem;
    flex: 1 1 auto;
}

@media (max-width: 1190px) {
    .wrapperForBlock {
        display: flex;
        flex-wrap: wrap;
    }
    .blockContainerSkills {
        display: flex;
        flex: 0 0 310px;
        margin: 0 0.5rem;
    }
}
@media (max-width: 1130px) {
    .wrapperForBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
}
@media (max-width: 1129px) {
    .blockContainerSkills {
        display: flex;
        flex: 0 0 310px;
        margin: 0.5rem;
    }
}
