.blockFirst {
    background: lightpink;
}
.itemContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
}
.imgContainer {
    height: 20rem;


    transform: translate(120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.activeImgContainer{
    height: 20rem;


    transform: translate(0px,0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
.text{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 19%;

    transform: translate(-120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;


}
.activeText{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 19%;

    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.8s ease 0s;
}
@media (max-width: 870px) {
    .text {
        margin: 0;
        width: 230px;
    }
    .activeText {
        margin: 0;
        width: 230px;
    }
    .blockFirst {
        min-height: 100vh;
    }
    .itemContainer {
        flex-direction: column;
    }
}


